/* ---------------------------------------HEADER-------------------------------- */
.card {
  margin: 4vw;
  border-radius: 30px;
  padding: 4vw;
}
.card__header {
  display: flex;
  padding: 0px 0px 2vw 0px;
  justify-content: space-between;
  align-items: center;
}
.card__name {
  font-size: 7vw;
  font-weight: 400;
}
.card__logo {
  width: 15vw;
  border-radius: 50px;
}
/* ---------------------------------------BODY--------------------------------- */
.card__body {
  padding-top: 4vw;
}
.card__body_mark {
  font-size: 7vw;
  font-weight: 700;
  text-align: start;
}
.card__body_mark span {
  font-size: 5vw;
  font-weight: 400;
}
.card__body_loyaltyLevel {
  margin-top: 4vw;
  display: flex;
  width: 100%;
  font-size: 3.5vw;
  gap: 20vw;
  padding-bottom: 2vw;
}
.card__body_loyaltyLevel span {
  display: inline-block;
  margin-top: 2vw;
  font-size: 4vw;
  font-weight: 600;
}
.card__body_loyaltyLevel p {
  text-align: start;
}
/* -----------------------------------FOOTER------------------------------------- */
.card__footer {
  margin-top: 2vw;
  text-align: start;
  display: flex;
}
.card__footer_trash_button {
  margin-left: 15vw;
}

.card__footer_trash_img {
  width: 6vw;
}
.card__footer_moreInfo_button {
  margin-left: 2vw;
}

.card__footer_moreInfo_img {
  width: 6vw;
}
.card__footer_moreDetails_button {
  margin-left: 15vw;
  padding: 4vw 10vw;
  border-radius: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 4vw;
  line-height: 3vw;
}
/* ---------------------------MODAL----------------------------------- */
.modal {
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  transition: width 0.3s;
}
.modal__content {
  margin-bottom: 25vw;
  width: 95vw;
  height: 30vw;
  background-color: #fff;
  border-radius: 4vw;
}
.first__button {
  width: 50vw;
  height: 10vw;
  margin-top: 8vw;
  border-radius: 3vw;
  background-color: #2688eb;
  color: #fff;
  font-size: 4vw;
}
.modal__content p {
  margin-top: 3vw;
  font-size: 5vw;
}
.last__button {
  position: absolute;
  bottom: 25vw;
  left: 45vw;
  display: inline-block;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: rgb(10, 10, 10);
  color: white;
  font-size: 24px;
  text-align: center;
  align-items: center;
  line-height: 50px;
  font-size: 5vw;
}
